pandas==2.2.1
pyarrow==15.0.2
clickhouse-connect==0.7.16
numpy==1.26.4
scipy==1.13.0
google-auth==2.29.0
google-api-python-client==2.126.0
xgboost==2.0.3
scikit-learn==1.4.2
great-expectations==0.18.19
prophet==1.1.5